body {
  height: 2000px;
}

#field {
  width: 200px;
  height: 150px;
  border: 10px solid black;
  background-color: #00FF00;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#ball {
  position: absolute;
  top: 0;
  left: 0;
  transition: left 1s, top 1s;
}