* {
  margin: 0;
  padding: 0;
}

#example {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 25px solid #E8C48F;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:vertical {
  min-height: 12px;
  height: 200px;
}

